<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Learn-Generate</title>
</head>
<body>

    <h2>生成結果</h2>

    <form action="/submit" method="post">
        <table border="1">
            <thead>
            <tr>
                <th>
                    生成結果
                </th>
                <th>
                    人間:男性名
                </th>
                <th>
                    人間:女性名
                </th>
                <th>
                    地名
                </th>
                <th>
                    競走馬名
                </th>
                <th>
                    モンスター名
                </th>
                <th>
                    いずれでもない
                </th>
            </tr>
        </thead>
            <tbody>
                {% for result in results %}
                    <tr>
                        <th>{{ result }}</th>
                        <th><input type="checkbox" id="{{ result }}" name="aaaa" value="male"></th>
                        <th><input type="checkbox" id="{{ result }}" name="aaaa" value="female"></th>
                        <th><input type="checkbox" id="{{ result }}" name="aaaa" value="land"></th>
                        <th><input type="checkbox" id="{{ result }}" name="aaaa" value="horse"></th>
                        <th><input type="checkbox" id="{{ result }}" name="aaaa" value="monster"></th>
                        <th><input type="checkbox" id="{{ result }}" name="aaaa" value="none"></th>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <input type="submit" value="送信">
    </form>
</body>
</html>
